<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <div class="input-group">
          <h4><small>DDF Query <a (click)="ddfQueryVisible = !ddfQueryVisible" href="#"><span class="label label-danger">{{ddfQueryVisible ? '-' : '+'}}</span></a></small></h4>
          <div *ngIf="ddfQueryVisible">
              <input type="text" [(ngModel)] ="search.host" class="form-control" style="width: 300px;" placeholder="WS Host...">
              <textarea [(ngModel)] ="search.query" class="form-control" style="width: 300px; height: 300px;"></textarea><br>
              <button *ngIf="!loading" (click)="ddfRequest()" type="button" class="btn btn-sm btn-primary">DDF Request</button>
              <button *ngIf="loading" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>
          </div>
      </div>
       <div class="input-group">
          <h4><small>Load data from file <a (click)="fileLoadVisible = !fileLoadVisible" href="#"><span class="label label-danger">{{fileLoadVisible ? '-' : '+'}}</span></a></small></h4>
          <input *ngIf="fileLoadVisible" type='file' class="form-control" accept='text/json' (change)='openFile($event)'>
      </div>

      <div class="input-group o7">
          <input type="text" [(ngModel)] ="search.title" class="form-control" placeholder="Search...">
        </div>
      <ul class="nav nav-pills nav-stacked">
        <li *ngFor="let test of diag | titlefilter:search.title" [ngClass]="currentTest === test ? 'active' : ''">
          <a href="#" (click)="setCurrentTest(test)">{{test.title}} <span class="label label-danger">{{test.executionTime}} ms</span></a>
        </li>
      </ul><br>
    </div>

    <div *ngIf="currentTest && currentTest.diagnostic" class="col-sm-9">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#0" data-toggle="tab">Summary</a></li>
        <li *ngFor="let query of subQueries; let i = index"><a href="#{{i+1}}" data-toggle="tab">Query {{i+1}}</a></li>
      </ul>
      <div class="tab-content" style="overflow-y: auto; height: 150px; margin-bottom: 7px;">
        <div class="tab-pane active" id="0">
          <h4>Total reader time: <span class="glyphicon glyphicon-time label label-primary"> {{totalTime}} ms</span></h4>
          <h4>Files loading time:</h4>
          <div *ngFor="let item of fileStatistics | keyvalue">{{item.key}} <span class="glyphicon glyphicon-time label label-primary"> {{item.value}} ms</span></div>
        </div>
        <div *ngFor="let query of subQueries; let i = index" class="tab-pane" id="{{i+1}}">
          <div [innerHTML]="subQueries[i]"></div>
          <div>
            <div>
                Total data loading: <span class="glyphicon glyphicon-time label label-primary">{{subQueriesInfo[i].dataLoading}} ms</span>
            </div>
            <div>
                Data tables processing: <span class="glyphicon glyphicon-time label label-primary">{{subQueriesInfo[i].dataTablesProcessing}} ms</span>
            </div>
            <div>
                Result processing: <span class="glyphicon glyphicon-time label label-primary">{{subQueriesInfo[i].queryResultProcessing}} ms</span>
            </div>
            <div>
                Result ordering: <span class="glyphicon glyphicon-time label label-primary">{{subQueriesInfo[i].resultOrdering}} ms</span>
            </div>
            <h4>Resources:</h4>
            <ul>
               <li *ngFor="let resource of resourcesInfo[i]">{{resource.path}}</li>
            </ul>
          </div>
        </div>
     </div>

     <table class="table table-bordered o7">
          <thead>
            <tr>
              <th scope="col">Message</th>
              <th scope="col">Point</th>
              <th scope="col">Module</th>
            </tr>
          </thead>
          <tbody *ngIf="!!currentTest">
            <tr *ngFor="let r of currentTest.diagnostic" [ngStyle]="{'background-color': r.level === 'error' || r.level === 'fatal' ? '#ff9292' : '#fff'}">
              <td>{{r.message}} <span class="glyphicon glyphicon-time label label-primary"> {{r.time}}</span></td>
              <td>{{r.funName}}</td>
              <td>{{r.module}}@{{r.version}} <span *ngIf="!!r.attachment" (click)="details(r)" class="label label-success">Details...</span></td>
            </tr>
          </tbody>
        </table>

    <div *ngIf="detailsMode" class="modal" style="display: block;" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button (click)="detailsMode=false" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="overflow-y: auto; height: 400px;" [innerHTML]="detailsContent">
          </div>
          <div class="modal-footer">
            <button (click)="detailsMode=false" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
